<% provide :title, t(".page_title") %>
<% provide :submit_btn, t(".submit_text") %>

<div class="page page__users-new">
  <h1><%= t ".heading" %></h1>
  <p><%= t ".intro" %></p>
  <%= render "users/form" %>
</div>
