<% provide :title, t(".page_title") %>

<div class="user-list">
  <table>
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
