@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

/* universal */

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.nav {
  position: relative;
}

#logo {
  position: absolute;
  height: 100%;
  display: flex;
  margin: 0 20px;

  a {
    color: $text-light-color;
    display: block;
    font-size: 32px;
    font-weight: bold;
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.nav-list {
  margin: 0 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 12px;
  padding-left: 16px;
  border-top: 1px solid #666;
}

.list-item {
  list-style-type: none;

  li {
    display: inline-block;
    margin: 0 16px;

    a:hover {
      background-color: transparent;
      color: $text-dark-color;
    }
  }
}

.image-link {
  text-align: center;
  display: block;
  text-align: center;

  img {
    width: 400px;
  }
}

.image-link:hover {
  background-color: transparent;
}

.debug_dump {
  width: 100%;
  margin-top: 40px;
  font-size: 16px;
  color: $text-dark-color;
  font-weight: bold;
}

.user-info {
  display: flex;
  justify-content: left;
  align-items: center;

  .user-avatar {
    margin-right: 16px;
  }
}

.page__login,
.page__users-new {
  text-align: center;

  form {
    text-align: left;
    width: 400px;
    display: inline-block;

    label {
      font-size: 16px;
      margin: 8px;
    }
    .field_with_errors {
      width: 100%;
    }

    .form-item {
      width: 100%;
      font-size: 20px;
      padding: 4px 16px;
      margin-bottom: 20px;
    }

    input[type="submit"] {
      margin: 8px auto;
      display: block;
    }
  }
}

th {
  text-align: center;
}
